<div class="search-loading">
  <div class="search-loading__item">
    <div class="search-loading__image loading"></div>
    <div class="search-loading__text loading"></div>
  </div>
  <div class="search-loading__item">
    <div class="search-loading__image loading"></div>
    <div class="search-loading__text loading"></div>
  </div>
  <div class="search-loading__item">
    <div class="search-loading__image loading"></div>
    <div class="search-loading__text loading"></div>
  </div>
  <div class="search-loading__item">
    <div class="search-loading__image loading"></div>
    <div class="search-loading__text loading"></div>
  </div>
  <div class="search-loading__item">
    <div class="search-loading__image loading"></div>
    <div class="search-loading__text loading"></div>
  </div>
  <div class="search-loading__item">
    <div class="search-loading__image loading"></div>
    <div class="search-loading__text loading"></div>
  </div>
</div>
