<section class="characters">
  <div
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown()"
  >
    <div 
      class="characters__grid"
      *ngFor="let grid of [].constructor(multipleLimite); index as gridIndex"
    >
      <div 
        *ngFor="let character of characters.slice((gridIndex * 10), ((gridIndex + 1) * 10)); index as characterIndex" 
        [ngStyle]="getGridArea(characterIndex)"
        (click)="onSelectItem(character)"
        class="characters__box" 
      >
        <div class="characters__name__border"></div>
        <div class="characters__name">
          <span>
            {{formatCharacterName(character.name)}}
          </span>
        </div>
        <img [src]="getCharacterImage(character.thumbnail.path, character.thumbnail.extension)" [alt]="character.name">
      </div>
    </div>
    <div *ngIf="loading">
      <app-characters-loading></app-characters-loading>
    </div>
  </div>
</section>
