.characters {
    &__grid {
        display: grid;
        grid-auto-flow: row dense;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 8.5rem;
        @media (min-width: 758px) {
            grid-auto-rows: 16rem;
        }
    }
    &__box {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border: 1px solid var(--secondary);
        position: relative;
        & > img {
            width: 100%;
            object-fit: fill;
            height: 100%;
        }
    }
    &__name {
        position: absolute;
        bottom: 0;
        height: 2rem;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 62%, rgba(255,255,255,0) 100%);
        width: 100%;
        font-weight: bold;
        color: var(--neutral-color-100);
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: .75rem;
        &__border {
            bottom: 2rem;
            width: 100%;
            position: absolute;
            height: .25rem;
            background: linear-gradient(90deg, rgba(236,29,37,1) 0%, rgba(236,29,37,0.3) 50%, rgba(255,255,255,0) 100%);
        }
        @media (min-width: 758px) {
            font-size: 1.25rem;
        }
    }
}
