<section class="characters">
  <div
    infinite-scroll
    [infiniteScrollDistance]="2"
    [scrollWindow]="true"
    (scrolled)="onScrollDown()"
  >
    <div 
      class="characters__grid"
      *ngFor="let grid of [].constructor(multipleLimit); index as gridIndex"
    >
      <div 
        *ngFor="let character of characters.results.slice((gridIndex * limit), ((gridIndex + 1) * limit)); index as characterIndex" 
        [ngStyle]="getGridArea(characterIndex)"
        (click)="onSelectItem(character)"
        class="characters__box"
      >
        <div class="characters__name__border"></div>
        <div class="characters__name">
          <span>
            {{formatCharacterName(character.name || '')}}
          </span>
        </div>
        <img [src]="utilsService.getImage(character.thumbnail?.path || '', character.thumbnail?.extension || '')" loading="eager" [alt]="character.name">
      </div>
    </div>
    <div *ngIf="loading">
      <app-characters-loading 
        [isMobile]="isMobile"
      ></app-characters-loading>
    </div>
  </div>
</section>
