<footer class="footer">
  <div class="footer__personal">
    <div>
      Murilo Rui
    </div>
    <div>
      Front-end Developer: React/Angular/Vue - Singla-Spa
    </div>
  </div>
  <div class="footer__project">
    <div>
      Project with:
    </div>
    <div>
      Angular
      - SCSS
      - TypeScript
      - Github Actions
      - Unit Test
    </div>
  </div>
  <div class="footer__networks">
    <div>
      Networks
    </div>
    <div class="footer__networks-group">
      <div class="footer__network">
        <img src="../../../assets/instagram.svg" alt="instagram-logo">
      </div>
      <div class="footer__network">
        <img src="../../../assets/linkedin.svg" alt="linkedin-logo">
      </div>
    </div>
  </div>
</footer>