.search-item {
    padding: 1rem;
    border-top: 1px solid var(--neutral-color-300);
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    & > img {
        width: 4rem;
        min-width: 4rem;
        height: 4rem;
        border-radius: 100%;
        @media (min-width: 758px) {
            width: 6rem;
            min-width: 6rem;
            height: 6rem;
        }
    }
    & > span {
        font-size: .75rem;
        @media (min-width: 758px) {
            font-size: 1.25rem;
        }
    }
}