<section class="profile">
  <app-profile-header
    [name]="name"
    [description]="description"
    [path]="path"
    [extension]="extension"
    [loading]="loading"
    [comicsTotal]="comicsTotal"
    [seriesTotal]="seriesTotal"
    [storiesTotal]="storiesTotal"
  ></app-profile-header>
  <app-options-menu
    [options]="menuOptions" 
    (onSelect)="onSelectMenu($event)"
    [active]="searchType"
  ></app-options-menu>
  <div
    infinite-scroll
    [infiniteScrollDistance]="5"
    [scrollWindow]="true"
    (scrolled)="onScrollDown()"
  >
    <app-profile-grid
      *ngIf="searchType === 'comics'"
      [data]="comics.results"
      [multipleLimite]="multipleComics"
    ></app-profile-grid>
    <app-profile-grid 
      *ngIf="searchType === 'series'"
      [data]="series.results"
      [multipleLimite]="multipleSeries"
    ></app-profile-grid>
    <app-profile-grid-loading *ngIf="loadingComics || loadingSeries"></app-profile-grid-loading>
  </div>
  <div 
    class="profile__data-not-found"
    *ngIf="!loading && (comics.total === 0 || series.total === 0)"
    >
      <img [src]="getImageNotFound()">
      <span>{{ name }} did not have any matches.</span>
  </div>
</section>