$primary: (
  '': var(--primary),
);

$secondary: (
  '': var(--secondary),
);

$neutral: (
  '-100': var(--neutral-color-100),
  '-200': var(--neutral-color-200),
  '-300': var(--neutral-color-300),
  '-400': var(--neutral-color-400),
  '-500': var(--neutral-color-500),
  '-600': var(--neutral-color-600),
  '-700': var(--neutral-color-700),
  '-800': var(--neutral-color-800),
);

$colors: (
  $primary: 'primary',
  $neutral: 'neutral',
  $secondary: 'secondary',
);

@each $color, $name in $colors {
  @each $color-value, $hex in $color {
    .bg-#{$name}#{$color-value} {
        background-color: $hex;
      }
    .text-#{$name}#{$color-value} {
      color: $hex !important;
    }
  }
}
